-#  This file is app/views/verifier/index.html.haml
%h1 Verify proof

= form_tag verify_path, method: "get" do
  %table
    %tr
      %td
        = label_tag :f, "Premise"
      %td
      %td
        = label_tag :g, "Conclusion"
    %tr
      %td
        = text_field_tag :f
      %td |-
      %td
        = text_field_tag :g
  = label_tag :q, "Proof Entry:"
  %br
  = text_area_tag :q, nil, cols: 60, rows: 20
  %br
  = submit_tag 'Submit'